* {
  box-sizing: border-box;
}

html,body,#root {
  width: 100vw!important;
  height: auto!important;
  margin:0
}

.articleBox {
  position: relative;
  padding: 0 15px;
}

p {
  margin-bottom: 0!important;
}
